allow audioserver adspd:unix_stream_socket connectto;
allow audioserver persist_file:dir search;
allow audioserver persist_file:file { open read };
allow audioserver socket_device:sock_file write;
allow audioserver rootfs:lnk_file getattr;
