allow cnd netmgrd:dir search;
allow cnd netmgrd:file { open read };
allow cnd system_wpa_socket:sock_file unlink;
add_hwservice(cnd, hal_cne_hwservice)

allow cnd sysfs:file { read open };
allow cnd sysfs_soc_qcom:dir r_dir_perms;
allow cnd sysfs_soc_qcom:file rw_file_perms;
