allow fingerprintd firmware_file:file { getattr open read };
allow fingerprintd firmware_file:dir search;
allow fingerprintd fingerprintd_data_file:dir { add_name getattr remove_name search write };
allow fingerprintd fingerprintd_data_file:file { append create getattr open setattr unlink write };
allow fingerprintd fingerprintd_data_file:sock_file { create unlink getattr write };
allow fingerprintd fpc_data_file:dir { add_name remove_name search write };
allow fingerprintd fpc_data_file:sock_file { create unlink };
allow fingerprintd fpc_socket:sock_file unlink;
allow fingerprintd tee_device:chr_file { ioctl open read write getattr };
allow fingerprintd sysfs:file write;
allow fingerprintd unlabeled:file { getattr open read };
allow fingerprintd system_data_file:sock_file unlink;
