allow kernel block_device:dir search;
allow kernel hw_block_device:blk_file { open read write };
allow kernel utags_block_device:blk_file { open read write };
