type mmi-laser-sh, domain;
type mmi-laser-sh_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(mmi-laser-sh)

allow mmi-laser-sh kmsg_device:chr_file { write open };
allow mmi-laser-sh persist_file:dir { search open read getattr };
allow mmi-laser-sh persist_file:file { open read getattr };
allow mmi-laser-sh vendor_shell_exec:file { entrypoint read getattr };
allow mmi-laser-sh sysfs:file { write getattr open };
allow mmi-laser-sh vendor_toolbox_exec:file { execute execute_no_trans getattr open read };
allow mmi-laser-sh mnt_vendor_file:file { getattr open read };
allow mmi-laser-sh mnt_vendor_file:dir search;
