type mmi-boot-sh, domain, domain_deprecated;
type mmi-boot-sh_exec, exec_type, file_type;
init_daemon_domain(mmi-boot-sh)

allow mmi-boot-sh shell_exec:file rx_file_perms;

# Logs to /dev/kmsg
allow mmi-boot-sh kmsg_device:chr_file w_file_perms;
