allow per_mgr self:capability net_raw;
allow per_mgr fsg_file:file { open read };
allow per_mgr firmware_file:file { open read };
allow per_mgr unlabeled:file { open read };
