type motosh_prop, property_type;
type touch_prop, property_type;
type atvc_prop, property_type;
type manufacturedate_prop, property_type;
type rmtfs_prop, property_type;
type ctl_mods_camd_prop, property_type;
type moto_init_prop, property_type;
type post_boot_prop, property_type;
