#init setting for particular chipset
on early-init
    # Mount point for Digital Personalization partition
    mkdir /customize 0500 root root

on fs
    #Mount customize partion
    wait /dev/block/bootdevice/by-name/customize
    mount ext4 /dev/block/bootdevice/by-name/customize /customize ro discard nosuid nodev noatime nodiratime noexec defcontext=u:object_r:user_config_file:s0

on boot

    # update cpuset for each cgroup
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 2-3
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-1

   # Change permission for type C params
   chown root mot_tcmd /sys/devices/soc/75b5000.i2c/i2c-7/7-0022/CC_state
   chown root mot_tcmd /sys/devices/soc/75b5000.i2c/i2c-7/7-0022/enable_vconn
   # Change ownership and permission for AMPS factory testing
   chown root mot_tcmd /sys/class/i2c-adapter/i2c-7/7-002d/enable
   chmod 0660 /sys/class/i2c-adapter/i2c-7/7-002d/enable
   chown root mot_tcmd /sys/class/i2c-adapter/i2c-7/7-002d/hsic_vdd
   chmod 0660 /sys/class/i2c-adapter/i2c-7/7-002d/hsic_vdd

on post-fs-data
    #setup folder for WLAN WAPI
    chmod 0770 /data/wapi_certificate

on moto-charger
    setprop ro.board.platform msm8996
    trigger firmware_mounts_complete
    start qcom-post-boot
    start gbmodinstall
    start charge_only_mode
    start batt_health
    start thermal-com

service ufs_ffu /system/bin/ufs_ffu.sh
    user root
    class core
    oneshot
    disabled

on property:sys.boot_completed=1
    start ufs_ffu
