<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.erfanabdi.batterymodpercentage">

    <uses-feature android:name="com.motorola.hardware.mods" android:required="true" />
    <uses-permission android:name="com.motorola.mod.permission.MOD_ACCESS_INFO" />
    <uses-permission android:name="com.motorola.mod.permission.MOD_INTERNAL" />
    <uses-permission android:name="com.motorola.mod.permission.MOD_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ModManagerBroadcastReceiver" android:permission="com.motorola.mod.permission.MOD_INTERNAL">
            <intent-filter>
                <action android:name="com.motorola.mod.action.MOD_EVENT" />
                <action android:name="com.motorola.mod.action.MOD_ATTACH" />
                <action android:name="com.motorola.mod.action.MOD_ENUMERATION_DONE" />
                <action android:name="com.motorola.mod.action.MOD_DETACH" />
                <action android:name="com.motorola.mod.action.MOD_FIRMWARE_UPDATE_AVAILABLE" />
                <action android:name="com.motorola.mod.action.MOD_FIRMWARE_DOWNLOAD_STATUS" />
                <action android:name="com.motorola.mod.action.MOD_FIRMWARE_UPDATE_DONE" />
                <action android:name="com.motorola.mod.action.MOD_FW_UPDATE_CANCEL_STATUS" />
                <action android:name="com.motorola.mod.action.UNSEC_FMW_CONSENT_REQ" />
                <action android:name="com.motorola.mod.action.MOD_PRE_ATTACH_USER_CONSENT" />
                <action android:name="com.motorola.mod.action.MOD_FW_UPDATE_CANCELLED" />
                <action android:name="com.motorola.mod.action.MOD_USB_CONFLICT_DETECTED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".NotifService" ></service>

    </application>



</manifest>
